.container {
    display: flex;
    gap: 50px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .dashboard {
        padding: 20px 40px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }

     .dashboard {
        padding: 20px 40px;
    }
}

@media (min-width: 768px ) and (max-width:1024px) {
    .container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

     .dashboard {
        padding: 20px 70px;
    }

    .name {
        text-align: center;
    }
}