.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  padding: 20px 35px;
  height: 300px;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1px solid #ccc;
}

.card p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.income {
  display: flex;
  gap: 2px;
  margin-bottom: 20px;
  align-items: center;
}

.income p {
    color: #ada9a9;
    font-size: 20px;
    font-weight: 400;
}

.currency {
  color: rgb(59, 169, 59);
  font-size: 27px;
}

.wrap {
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100px;
}
.percentages {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.percentage {
    font-size: 15px;
    color: rgb(59, 169, 59);
    display: flex;
    align-items: center;
}

.text {
    font-size: 14px;
}

.addBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    padding: 12px 6px;
    height: auto;
  }
}

