.pie {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-legend {
    margin-top: 20px;
    max-width: 150px;
    white-space: normal;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    .pie {
        width: 100%;
        justify-content: center;
        height: auto;
    }
    .cell {
        font-size: 3px;
    }
}